/* google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*,
*::before,
*::after{
    box-sizing:border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    width:100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3d4f57;
    color: rgb(19, 17, 17);
    font-size: 20px;
  }

.heading {
    max-width: 750px;
    margin: auto;
  }

.main {
      padding: 0% 20% 0% 20%;
  }

#title {
    font-size: 40px;
    text-align: center;
    line-height: 1.2;
  }

#description {
    font-size: 18px;
    text-align: center;
    padding: 2px auto;
  }

#survey-form {
    width: 100%;
    table-layout: fixed;  
    background-color: #76f52d8c;
    padding-bottom: 60px;
    border-radius: 7px;
}

#submit {
    background: #1c1d1d;
    color: rgb(238, 213, 213);
    padding: .7rem;
    font-size: 1.15rem;
    cursor: pointer;
}

#submit:hover {
    background: rgb(9, 168, 89);
}

.form {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
  border: none;
}
